.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter_container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.contador {
  margin: 0;
  font-size: 300px;
}

.btn_container {
  flex-direction: row;
}
